.img-responsive {
	width: 670px;
	height: 300px;
    margin-top: 10px;
}

#formSearchDiv {
	text-align: center;
	display: -webkit-inline-box;
	margin-left: 34%;
	padding-bottom: 1%;
}

#request {
	margin-left: 1%;
}

#lireValue {
	width: 177%;
}

#imageInShown {
	width: 33.33333333%;
	margin-left: 33%;
}

#imageImgInShown {
	width: 556px;
	height: 400px;
	margin-left: 3%;
}

h2 {
	margin-left: 3%;
}
#tagsDiv{
	margin-left: 3%;
}

.delete-button{
    background-color: #428bca;
    border: 0 none;
    border-radius: 2px;
    color: white;
    float: right;
    font-weight: 600;
    height: 22px;
    width: 56px;
}
.delete-button:hover{
    background-color: #2a6496;
}

#logout-button{
    float:right;
    border: 1px solid #4e4e4e;
    color: white;
    border-radius: 2px;
    margin: 15px;
    padding: 0 4px 0 4px;
    border-radius: 1px;
    background-color: #777777;
}

#logout-button:hover{
    cursor: pointer;
    text-decoration: none;
    background-color: #4e4e4e;
}

#id1{
    margin-bottom: 10px;
}