body {
    margin: 10px;
    font-family: Helvetica;
}
canvas.leap-boneHand {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index:101;
}

.base-figure{
    width: 200px;
    height:180px;
    position: absolute;
    top: 0;
    left: 300px;
}

.base-figure-img{
    width: 200px;
    height:180px;
}

/*#canvas{
    width: 600px;
    height: 400px;
    margin-left: 30%;
    background-color: white;
    border:1px solid;

}*/


/*#first-child{
      margin-left: 15%;
*//*    baseFigure offsetTop + width+some pixels*//*
     margin-top: 250px;
     display: none;
}

#second-child{
    margin-left: 25%;
   *//* baseFigure offsetTop + width+some pixels*//*
    margin-top: 250px;
   display:none;

}*/

#first-child{
    width: 113px;
    height:113px;
    position: absolute;
    bottom: 100px;
    left: 120px;
    display:none;
}

#second-child {
    width: 113px;
    height: 113px;
    position: absolute;
    bottom: 100px;
    left: 500px;
    display:none;
}



