.overlay
{
    position: fixed;
    top: 0;
    left: 0;
   /* width: 80%;
    height: 80%;*/
    margin-left:400px;
    margin-top:60px;
    height:610px;
    width:800px;
    z-index: 100;
   /*background-color: #B8C9D1;*/
    background-color: #C8E9F3;
   /*dim the background*/
    display:block;
}

.externalDiv
{
    background-color:#7C8A91;
}

.hidden{
    display:none;
}

.explainDiv
{
    margin:10px;
    border:1px dashed;
    height:100px;
    padding:5px;
}

.exampleCanvas
{
    border:1px solid;
    width:800px;
    height:500px;
}
.someClass
{
    background-color:yellow;
}

.figureAwarded
{
    width:200px;
    height:400px;
}

.figureDiv {

    width: 200px;
    height: 400px;
    bottom: 80px;
    left: 550px;
    position: absolute;
}

.badgeDiv{
    width:auto;
    height: auto;
    bottom: 330px;
    left: 10px;
    position: absolute;
}

.exampleButton
{
    width:30px;
    height:30px;
}






