.inside {
    margin-top: 10px;
    margin-bottom: 10px;
}

.navigation-buttons {
    display: inline-block;
    float: right;
    margin-right: 30px;
    text-align: center;
    width: 100%;
}

.navigation-buttons .next, .navigation-buttons .prev {
    display: inline-block;
    font-weight: bold;
    font-size: 21px;
}

.navigation-buttons .next {
    margin-left: 10px;
}

#page-wrapper .container-fluid .row .col-lg-12, #page-wrapper .container-fluid .row.test {
    margin-top: 30px;
    background-color: ghostwhite;
    padding: 10px 10px 10px 10px;
}

.navigation-buttons form {
    display: inline-block;
}

.navigation-buttons form input {
    background-color: transparent;
    border: 0;
}

.question-title {
    font-size: 20px;
    font-weight: bold;
}

.answers ul {
    list-style-type: none;
}

.answers ul span{
    margin-left: 10px;
}

.answers ul li{
    margin-top: 5px;
}

.test div:last-child input{
    background-color: darkgrey;
    border: 0 none;
    border-radius: 4px;
    color: white;
    font-weight: 400;
    height: 35px;
    margin-left: 40px;
}

.test div:last-child input:hover{
    background-color: darkslategrey;
}

.blocked a{
    cursor: not-allowed;
    opacity: 0.5;
}

.side-nav li.blocked a:hover{
    background-color: #222222 !important;
    outline: inherit;
}

.domain-choose{
    margin-left: auto;
    margin-right: auto;
}

.domain-choose .col-lg-12{
    font-size: 20px;
    margin-bottom: 30px;
}

.domain-choose ul{
    list-style-type: none;
}

.progress-wrapper{
    background-color: #ADC6BC;
    border: 1px solid #cdcdcd;
    height: 22px;
    margin-left: 20%;
    width: 400px;
}

.progress{
    background-color: #2a6b70;
    color: white;
    text-align: center;
}

.navbar-brand.nav-img{
    padding-top: 0px;
}

.domain-row{
    background-color: #ADC6BC;
    color: #222222;
}

.domain-content div input{
    background-color: #ff9999;
    border: 0 none;
    border-radius: 3px;
    height: 30px;
    color: #222222;
}

.domain-content div input:hover{
    background-color: #E64D48;
}

body{
    background-color: #222222;
}