#login{
    margin-left: auto;
    margin-right: auto;
    width: 60%;

    height: 180px;
    margin-bottom: 20%;
    margin-top: 20%;
}

#login #login-form{
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

#login #login-form .input-field{
    border: 1px solid grey;
    border-radius: 3px;
    height: 30px;
    margin-bottom: 10px;
    min-width: 200px;
    padding-left: 10px;
    padding-right: 10px;
}

#login #login-form .input-field.input-username{
    margin-top: 30px;
}

#submit-login {
    margin-left: 29px;
    margin-right: 29px;
}
.login-info{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 10px 10px 10px 10px;
    border: 1px solid black;
    font-weight: bold;
}
.login-info .login-info-header{
    font-weight: bold;
    padding-left: 40px;
    padding-bottom: 5px;
    color: red;
}

.login-info li{
    padding-bottom: 15px;
}


.domain-choose ul li{
    margin:0 20px 20px 5px;
    vertical-align:top;
    font-size:18px;
}
